<div class="card">

    <div v-if="items.length" class="card-body">
        <div v-html="listContent"></div>
        <div class="row">
            <div :class="getColumnClass(items)" v-for="item of items">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{ item.name }}
                        </h3>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.reference }}</h6>
                        <p class="card-text">
                            <span>Balance</span>
                            {{ item.balance | currency }}
                        </p>
                        <a class="class-link" :href="getDetailsUrl(item)">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="!items.length" class="card-body" v-html="emptyContent">
        
    </div>
    <div class="card-footer">

    </div>


</div>