<div class="card">

    <div v-if="items" class="card-body">
        <div v-html="listContent"></div>
        <div class="row">
            <div class="col" v-for="item of items">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{ item.name }}
                        </h3>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.reference }}</h6>
                        <p class="card-text">
                            <span>Balance</span>
                            {{ item.balance }}
                        </p>
                        @Html.ActionLink("View Details", "Details", "Budget", new { reference = Model.Reference }, new { @class = "card-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="!items" class="card-body" v-html="emptyContent">
        
    </div>
    <div class="card-footer">

    </div>


</div>