@model BudgetPanelDashboardItemViewModel

    <div>
        <h3>
            @Model.Name (@Model.Reference)
        </h3>
        <p>
            @Html.FormatContent(FormatConstants.SetFormat(FormatConstants.CurrencyFormat), Model.Balance)
        </p>
        @Html.ActionLink("View", "Details", "BudgetPlanner", new { Reference = Model.Reference })
    </div>