@model BudgetPanelDashboardItemViewModel

    <div>
        <h3>
            @Model.Name (@Model.Reference)
        </h3>
        <p>
            @Html.FormatContent("{0:C}",Model.Balance)
        </p>
        @Html.ActionLink("View", "Details", "BudgetPlanner", new { Reference = Model.Reference })
    </div>