@model BudgetPanelDashboardViewModel

@if(Model.BudgetPlanners.Any())
{ 
    @foreach (var budgetPlanner in Model.BudgetPlanners)
    {
        @await Html.PartialAsync("Partials/BudgetPanelDashboardItem" ,budgetPlanner)
    }
}
else
{
    <p>No Budget Planners available @Html.ActionLink("Create one", "Create", "Budget")</p>
}