@model BudgetPanelDashboardViewModel

@if(Model.BudgetPlanners.Any())
{ 
    <div class="row">
        @foreach (var budgetPlanner in Model.BudgetPlanners)
        {
            <div class="col">
                @await Html.PartialAsync("Partials/BudgetPanelDashboardItem", budgetPlanner)
            </div>
        }
    </div>
    <div class="card">@Html.ActionLink("Add", "Create", "Budget")</div>
}
else
{
    <p>No Budget Planners available @Html.ActionLink("Create one", "Create", "Budget")</p>
}