@model BudgetPanelDashboardViewModel
<div class="card">
    @if (Model.BudgetPlanners.Any())
    {
        <div class="card-body">
            <div class="row">
                @foreach (var budgetPlanner in Model.BudgetPlanners)
                {
                    <div class="col">
                        @await Html.PartialAsync("Partials/BudgetPanelDashboardItem", budgetPlanner)
                    </div>
                }
            </div>
        </div>
        <div class="card-footer">@Html.ActionLink("Add", "Create", "Budget", new { @class = "btn btn-primary" })</div>
    }
    else
    {
        <div class="card-body">
            <p>No Budget Planners available @Html.ActionLink("Create one", "Create", "Budget")</p>
        </div>
    }
</div>