@model BudgetPanelDashboardViewModel

@if(Model.BudgetPlanners.Any())
{ 
    @foreach (var budgetPlanner in Model.BudgetPlanners)
    {
        await Component.InvokeAsync<BudgetPlannerViewComponent>(budgetPlanner);
    }
}
else
{
    <p>No Budget Planners available @Html.ActionLink("Create one", "Create", "Budget")</p>
}