@model CreateBudgetPlannerViewModel

@{ ViewBag.Title = "Create Budget"; }
<div class="card">
    <div class="card-header">
        Create Budget
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Budget", FormMethod.Post))
        {
            @await Html.PartialAsync("Editor/_budgetEditor")
            <button type="submit" class="btn btn-primary">Create</button>
        }
    </div>
    <div class="card-footer"></div>
</div>