<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li v-if="showPrevious()" class="page-item">
            <a class="page-link"
               v-on:click="previous" 
               href="#">Previous</a>
        </li>
        <li v-for="pageIndex in pageItems" :class="getPageClass(pageIndex)">
            <a v-on:click="setPage(pageIndex)" 
               class="page-link" 
               href="#">{{ pageIndex }}</a>
        </li>
        <li v-if="showNext()" class="page-item">
            <a v-on:click="next" 
               href="#" 
               class="page-link">Next</a>
        </li>
    </ul>
</nav>