<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script type="text/javascript" src="~/content/app.js"></script>
    <title>@ViewBag.Title - Budget Planner</title>
</head>
<body>
    <template id="modalDialog">
        @await Html.PartialAsync("Partials/_modalDialog")
    </template>
    <section class="container-fluid" id="navHeader">
        @await Html.PartialAsync("Partials/_currentAccountNav")
    </section>
    <section class="container" id="app">
        <section id="popup"></section>

        <ajax-dialog :title="modal.title"
                     :request-url="modal.url"
                     :parameter="modal.parameter"
                     :panel-is-visible="modal.visible"
                     v-on:dialog:dismiss="dismissModal"
                     v-on:form:submit:successful="onModalSubmit">
        </ajax-dialog>
        <section v-if="!modal.visible">
            @RenderBody()
        </section>
    </section>
</body>
</html>