@using BudgetPlanner.Domains.Dto;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<Account> accountManager

@{
    var user = await accountManager.GetUserAsync(User);
}


<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Budget Planner</a>
    <span class="navbar-text">
        @if (user == null)
        {
            <span>
                @Html.ActionLink("Login", "Login", "Account")
            </span>
        }
        else
        {
            <span>
                Welcome @user.FirstName @Html.ActionLink("Logout", "Logout", "Account", null,
DictionaryBuilder.Create<string, object>
(builder => builder
.Add("title", "Logout " + @user.FirstName)
.Add("data-toggle", "tooltip")).ToDictionary())
            </span>
        }
    </span>
</nav>