@using BudgetPlanner.Domains.Dto;
@using Microsoft.AspNetCore.Identity;
@using Humanizer;

@inject UserManager<Account> accountManager

@{
    var user = await accountManager.GetUserAsync(User);
    var name = string.Empty;

    if(user != null)
        name = $"{user.FirstName.ToLower().Transform(To.TitleCase)} {user.LastName.ToLower().Transform(To.TitleCase)}";
}


<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Budget Planner</a>
    <span class="navbar-text">
        @if (user == null)
        {
            <span>
                @Html.ActionLink("Login", "Login", "Account")
            </span>
        }
        else
        {
            <span>
                Welcome @name @Html.ActionLink("Logout", "Logout", "Account", null,
DictionaryBuilder.Create<string, object>
(builder => builder
.Add("title", "Logout " + @name)
.Add("data-toggle", "tooltip")).ToDictionary())
            </span>
        }
    </span>
</nav>