<div v-if="isVisible" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="content"></div>
        </div>
    </div>
</div>