@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Account"))
{
    @await Html.PartialAsync("Partials/Editors/_loginEditor")
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="#" 
       v-on:click="setModal('Account', '@Url.Action("Register", "Account")', 'Register Account')" 
       class="btn btn-primary">Register Account</a>
}